.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.detail {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff !important;
    box-shadow: 1px 3px 6px #0000002e;
    border-radius: 25px;
}

.info p {
    /* text-transform: ; */
}
