<div class="box">
    <div class="temp">
        <p>{{todaysWeather?.main.temp}}°</p>
    </div>
    <div class="status">
        <p>{{todaysWeather?.weather[0].description}}</p>
    </div>
    <div class="icon">
        <img class="ic1" src="http://openweathermap.org/img/wn/{{todaysWeather?.weather[0].icon}}@2x.png" alt="" />
        <img class="ic2" src="http://openweathermap.org/img/wn/{{todaysWeather?.weather[0].icon}}@2x.png" alt="" />
        <img class="ic3" src="http://openweathermap.org/img/wn/{{todaysWeather?.weather[0].icon}}@2x.png" alt="" />
        <img class="ic4" src="http://openweathermap.org/img/wn/{{todaysWeather?.weather[0].icon}}@2x.png" alt="" />
    </div>
</div>
<div class="details">
    <div class="detail" *ngFor="let d of details">
        <div class="info label">
            <p>{{d.title}}</p>
        </div>
        <div class="info value">
            <p>{{d.value}}</p>
        </div>
    </div>
</div>
