<div id="mySidenav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
	<div class="header-container">
		<input type="text" class="search-input" [(ngModel)]="searchInput">
		<div class="cities">
			<a *ngFor="let c of cities?.list | filter: 'name': searchInput" (click)="changeCity(c.name)">{{c.name}}</a>
		</div>
	</div>
</div>

<header>
	<div class="menu">
		<img class="icon icon-left" src="../../assets/icons/menu.png" alt="" />
	</div>
	<div class="city">{{cityName}}</div>
	<div class="search" (click)="openNav()">
		<img class="icon icon-right" src="../../assets/icons/search.png" alt="" />
	</div>
</header>