.forecasts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.box {
    height: 146px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    background-color: #fff;
}

.box .info {
    margin: 15px 5px 0 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.icon {
    height: 50px;
    border-radius: 25px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 50px;
    height: 50px;
}

.info .desc {
    margin: 3px auto 0 auto;
    font-size: 17px;
    font-weight: 500;
}

.icon .temp {
    color: white;
    font-size: 18px;
}

.info .date {
    font-size: 15px;
}
