.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.detail {
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 60px 40px;
    background-color: #fff !important;
    box-shadow: 1px 3px 6px #0000002e;
    border-radius: 25px;
    font-weight: 500;
}

p {
    margin: 0;
}

.detail .label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #373762;
}

.detail .value {
    font-size: 17px;
}